<script src="../../environments/environment.prod.ts"></script>

<!-- Landing Page Top Bar -->
<div class="position-relative landing-page-container-bg" *transloco="let t">
  <div class="position-relative landing-page-container-1">
    <div class="position-relative d-flex justify-content-between mt-30px landing-page-top-bar">
      <div class="fc-landing-page d-flex align-items-center">
        Waves
      </div>
      <div class="fc-landing-page d-flex align-items-center">
        <a class="fc-landing-page mr-15px" (click)="globalVars.launchLoginFlow()">
          <i-feather *ngIf="!globalVars.isMobile()" name="lock-2" class="feather-small fc-landing-page mr-5px position-relative" style="top: -2px"></i-feather>
          {{t('landing.login')}}
        </a>
        <a *ngIf="globalVars.isMobile()" class="fc-landing-page" (click)="globalVars.launchSignupFlow()">
          {{t('landing.signup')}}
        </a>
        <button *ngIf="!globalVars.isMobile()" style="font-size: 16px; padding: 5px; width: 152px; height: 50px" class="landing-page-primary-btn-inverted landing-page-btn fs-16px" (click)="globalVars.launchSignupFlow()">{{t("landing.signuptoday")}}</button>
      </div>
    </div>
 

  
<div>
  <h1 class="font-weight-bold slide-up-1">
    Waves: Blockchain Live Streaming
  </h1>
</div>





  
<!-- Create Account Button -->
  <div class="landing-page-content-container mb-40px">
    <div class="d-flex justify-content-center position-relative" style="z-index: 1" [ngClass]="{ 'flex-column': globalVars.isMobile() }">
      <button class="landing-page-btn landing-page-primary-btn font-weight-bold" (click)="globalVars.launchSignupFlow()">
        <div>Create Account</div>
      </button>
   
</div>
